<li>
<%= gravatar_for user, size: 40 %>
<%= link_to user.username, user %> | email: <%= user.email %>
  <% if current_user.admin? && current_user != user %>
  | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure about that?"} %>
  <% end %>
</li>
